// main: ../style.less

/* ----------------------------------------------------------------
	Buttons
-----------------------------------------------------------------*/


.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 0 22px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background-color: @theme-color;
	color: #FFF;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

body:not(.device-touch) .button {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.button-red { background-color: @theme-color; color: @white; }

.button-grey {
	background-color: @body-color;
	color: @white;
	text-shadow: none !important;
}
.button-outline{
    background: none;
    border: 1px solid @theme-color;
    color: @theme-color;
    i{
         color: @theme-color !important;
    }
    &:hover{
        border-color: @middle-grey !important;
        background-color: @lighter-grey !important;
    }
}
.button-mini.toggle-button{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    i{
         margin-left: -2px !important;
    }
    &.show-button{
        visibility: hidden;
        z-index: 1;
        bottom: -105px;
        top: auto;
        right: 86px;
        background: @theme-color;
        i{
            color: @white !important;
        }
    }
}
.button:hover {
	background-color: @light-grey;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.button-big-min-width{
    width: 200px;
}
.button.button-mini {
	padding: 0 14px;
	font-size: 11px;
	height: 28px;
	line-height: 28px;
}

.button.button-small {
	padding: 0 17px;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}

.button.button-large {
	padding: 0 26px;
	font-size: 16px;
	height: 46px;
	line-height: 46px;
}

.button.button-xlarge {
	padding: 0 32px;
	font-size: 18px;
	letter-spacing: 2px;
	height: 52px;
	line-height: 52px;
}

.button.button-desc {
	text-align: left;
	padding: 24px 34px;
	font-size: 22px;
	height: auto;
	line-height: 1;
	font-family: @heading-font;
}

.button.button-desc span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: @secondary-font;
	font-style: italic;
	text-transform: none;
}

.button i {
	position: relative;
	top: 1px;
	line-height: 1;
	margin-right: 5px;
	width: 16px;
	text-align: center;
    
}

.button.tright i { margin: 0 0 0 5px; }

.button-mini i { margin-right: 3px; color: @white;font-size:15px;}

.button-mini.tright i { margin: 0 0 0 3px; }

.button-small i { margin-right: 4px; }

.button-small.tright i { margin: 0 0 0 4px; }

.button-xlarge i {
	top: 2px;
	margin-right: 8px;
}

.button-xlarge.tright i { margin: 0 0 0 8px; }

.button.button-desc i {
	top: 1px;
	font-size: 48px;
	width: 48px;
	text-align: center;
	margin-right: 12px;
}

.button.button-desc.tright i { margin: 0 0 0 12px; }

.button.button-desc div { display: inline-block; }

.button.button-rounded { .border-radius(3px); }

