// main: style.less
/*-----------------------------------------------------------------------------------

	calendar.less

-----------------------------------------------------------------------------------*/


.view-header h3{
    color: @middle-grey2;
    margin:0;
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
}
.view-header .previous-button a, .view-header .next-button a{
    color: @white;
    background: @theme-color;
    padding: 0;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    
}
.view-header .previous-button a:hover, .view-header .next-button a:hover{
    color:@white;
    background: @middle-grey2;
}
.view-header .previous-button{
    text-align: left;
}
.view-header .next-button{
    text-align: right;
}
.view-header {
    .previous-button i, .next-button i{
        padding: 5px 0px 0 0;
        font-size: 20px;
    }
}
.page-title-cal {
    color: @middle-grey2;
    padding: 10px;
    border: 1px solid #fff;

    display: inline-block;
    width: 100%;


}
.cal-view {
    margin: 10px 0;
        padding-right: 0;
        text-align: right;
}
.cal-view i{
     padding: 0 5px;
}
.cal-view a {
    font-size: 16px;
     color: @dark-grey;
}
.cal-view a:hover{
    color: @theme-color;
}
.cal-view a.active {
    color: @theme-color;
    cursor: default;
}
.month-medium .month-body{
    margin-bottom:0;
}
.month-medium .month-header{
    color: @dark-grey;
    padding: 0;
}
.month-medium .month-header .col-md-1{
    min-height: 0;
    text-align: center;
    border: 1px solid @white;
    background: @middle-grey2;
    color: @white;
    text-transform: uppercase;
    padding: 20px 0;
}
.month-medium .month-header .col-md-1:first-child{
    background-color: @middle-grey2;
        font-size: 14px;
    font-weight: bold;
    padding: 20px 0;
}
.month-medium .month-header, .ody{
    margin-bottom: 0;
}

.month-medium .col-md-1:first-child{
    width: 5.5%;
    text-align: center;
    background-color: @middle-grey2;
    vertical-align: middle;
    color: @white;
    border: 1px solid @white;
        font-size: 15px;
    font-weight: bold;
    padding: 5px 0 0;
}
.month-medium .col-md-1{
    width: 13.5%;
    background: @lighter-grey;
    border-top: 2px solid @white;
    border-bottom: 2px solid @white;
    border-left: 1px solid @white;
    border-right: 1px solid @white;
    padding: 10px 5px;
    min-height: 130px;
}
.month-medium .summary{
    display: block;
    line-height: 14px;
    color: @theme-color;
    font-weight: bold;
    word-wrap: break-word;
}
.month-medium .open-popover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;

    &:hover{
        color: @dark-grey;
        text-decoration: underline;
    }
}
.day{
    font-family: @heading-font;
    &.current{
        background: #f2e0e0;
    }
    
    a{
        text-decoration: underline;
    }
}
.week-nr{
    color: @middle-grey;
    line-height: 15px;
    cursor: default;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0px 5px 0;
}
.dtstart {
    color: #8b8989;
    line-height: 14px;
    display: block;
    
}
.list-view{
    display: none;
}
.list-view .list-view-entry{
    border-bottom: 1px solid @light-grey;
    padding: 10px 5px;
}
.list-view .list-view-entry .col-md-2{
    color: @dark-grey;
}
.list-view .list-view-entry .col-md-4{
    color: @dark-grey;
}
 /* Popover */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    max-width: 250px;
    width: 250px;
    padding: 1px;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    line-break: auto;
}

.popover-title {
    padding: 5px 11px;
    margin: 0;
    font-size: 16px;
    font-family: @heading-font;
    text-transform: uppercase;
    line-height: 20px;
    background-color: @lighter-grey;
    border-bottom: 1px solid @lighter-grey;
    border-radius: -.7rem -.7rem 0 0;
}
.popover-content {
    padding: 9px 14px;
    font-size: 12px;
}
