// main: style.less
/*-----------------------------------------------------------------------------------

	content.less

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Content
-----------------------------------------------------------------*/


#content {
	position: relative;
	overflow: hidden;
	background-color: #FFF;

	p {
		line-height: @line-height-content;
	}

	.content-wrap {
		position: relative;
		padding: 30px 0;
	}

	.container {
		position: relative;
	}
    img{
        max-height: 100%;
        max-width: 100%;
        height: 100%;
       
    }
}

.grid-container {
	position: relative;
	overflow: hidden;
}

body:not(.device-touch) .grid-container {
	-webkit-transition: height .4s linear;
	-o-transition: height .4s linear;
	transition: height .4s linear;
}

#cookie-bar{
    position: fixed;
    bottom: 0;
    background: @lighter-grey;
    border-top: 1px solid @light-grey;
    z-index: 100;
    text-align: center;
    padding: 10px 40px 0;
    p{
        margin-bottom: 10px;
    }
    a{
        margin:0 0 5px;
    }
    h3{
        margin: 5px 0;
    }
}

