// main: style.less
/*-----------------------------------------------------------------------------------

	footer.less

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


#footer {
	position: relative;
	background-color: @dark-grey;
    color: @light-grey;
    font-weight: 400;
    font: @body-font;
    
	.footer-widgets-wrap {
		position: relative;
		padding: 10px 0;
	}
    .footer-links{
        padding: 15px 0 20px;
      
        a{
            color: @light-grey;
            font-weight: 100;
            &:hover{
                color:@body-color;
            }
            i{
                padding: 0 5px 0 15px;
                :hover{
                    color:@body-color;
                }
            }
            .facebook{
                font-size: 25px;
                color: @white;
                &:hover{
                    color:#3b5998;
                }
            }
            
        }
      
    }
}

.device-lg,
.device-md {
	&.sticky-footer {
		#top-bar { z-index: 299; }
		#header { z-index: 199; }
		#slider,
		#page-submenu,
		#page-title,
		#content,
		#slider,
		#page-submenu,
		#page-title,
		#content { z-index: 2; }
		#footer {
			position: fixed;
			top: auto;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 1;
		}
		&:not(.stretched) #footer {
			left: 50%;
			margin-left: -610px;
			width: 1220px;
		}
	}
}

.device-md.sticky-footer:not(.stretched) #footer {
	margin-left: -500px;
	width: 1000px;
}

.footer-widgets-wrap {
	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_three_fourth,
	.col_one_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth {
		margin-bottom: 0;
	}
}



.footer-logo {
	display: block;
	margin-bottom: 0px;
    height: 100px;
    width: auto;
    
    img{
        max-height: 100%;
    }
}

