// main: style.less
/*-----------------------------------------------------------------------------------

	portfolio.less

-----------------------------------------------------------------------------------*/


/* Portfolio - Filter
-----------------------------------------------------------------*/

.portfolio-filter {
	position: relative;
	margin: 0 auto 40px auto;
	list-style: none;
	border: 1px solid rgba(0,0,0,0.07);
	float: none;
    display: inline-block;
	.border-radius(4px);
	li {
		float: left;
		position: relative;
		a {
			display: block;
			position: relative;
			padding: 12px 18px;
			font-size: 13px;
			line-height: 15px;
			color: #666;
			border-left: 1px solid rgba(0,0,0,0.07);
			&:hover {
				color: @theme-color;
			}
		}
		&:first-child {
			a {
				border-left: none;
				.border-radius-custom(4px, 0, 0, 4px);
			}
		}
		&:last-child {
			a {
				.border-radius-custom(0, 4px, 4px, 0);
			}
		}
		&.activeFilter {
			a {
				color: #FFF !important;
				background-color: @theme-color;
				margin: -1px 0;
				padding: 13px 18px;
				font-weight: bold;
			}
		}
	}
}


/* Portfolio - Items
-----------------------------------------------------------------*/

.portfolio {
	position: relative;
	margin: 0 -@portfolio-4-margin -@portfolio-4-margin 0;
    align-content: flex-start;
    article{
        transition: .8s opacity;
   
        .portfolio-image img{
            height: 260px !important;
            object-fit: cover;
        }
    }
    &.portfolio-4{
        article{
             min-height: 480px;
        }
    }
      &.portfolio-2{
        article{
             min-height: 400px;
        }
    }
}

body {
	&:not(.device-touch) {
		.portfolio {
			-webkit-transition: height .4s linear;
			-o-transition: height .4s linear;
			transition: height .4s linear;
		}
	}
	&:not(.device-touch):not(.device-xs):not(.device-xxs) {
		.portfolio-notitle {
			.portfolio-image {
				img {
					-webkit-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
				}
			}
		}
	}
}

.portfolio-item {
	position: relative;
	float: left;
	width: 25%;
	height: auto;
	padding: 0 @portfolio-4-margin @portfolio-4-margin 0;
	.portfolio-image {
		position: relative;
		overflow: hidden;
	}
    &.entry-image{
        padding: 0;
    }
}

.portfolio-notitle {
	.portfolio-item,
	.iportfolio {
		overflow: hidden;
	}
}

.portfolio-item {
	.portfolio-image,
	.portfolio-image a,
	.portfolio-image img {
		display: block;
		width: 100%;
		height: auto;
	}

	.portfolio-image a.custom-object-fit {
		height: 260px;
		background-size: cover;
		background-position-y: center;
	}
}


/* Portfolio - Item Title
-----------------------------------------------------------------*/

.portfolio-desc {
	z-index: 3;
	padding: 15px 5px 10px;
	h3 {
		margin: 0;
		padding: 0;
		font-size: 19px;
        padding-bottom: 10px;
        &.title{
            text-align: center;
            padding-bottom: 0;
        }
		a {
			color: #222;
			&:hover {
				color: @theme-color;
			}
		}
	}
	span {
		display: block;
		margin-top: 3px;
		color: #888;
        &.clearfix{
            clear: both;
            padding: 15px 0;
            border-bottom: 1px solid @light-grey;
            margin-bottom: 20px;
        }
        &.highlight{
            color: @theme-color;
            background: none;
            text-align: center;
            font-style: italic;
        }
		a {
			color: #888;
			&:hover {
				color: #000;
			}
		}
        i{
            padding-right: 5px;
        }
	}
}

.portfolio-notitle {
	.portfolio-desc {
		position: absolute;
		display: block !important;
		width: 100%;
		height: 78px;
		padding: 15px 5px;
		top: auto;
		bottom: -79px;
		left: 0;
		background-color: #FFF;
		border-bottom: 1px solid #EEE;
	}
}

body {
	&:not(.device-touch):not(.device-xs):not(.device-xxs) {
		.portfolio-notitle {
			.portfolio-desc {
				-webkit-transition: bottom .2s ease-in-out;
				-o-transition: bottom .2s ease-in-out;
				transition: bottom .2s ease-in-out;
			}
		}
	}
}

.portfolio-full.portfolio-notitle .portfolio-desc,
.portfolio-nomargin.portfolio-notitle .portfolio-desc {
	bottom: -78px;
	border-bottom: 0;
}
.portfolio-notitle  {
	.portfolio-item:hover .portfolio-desc,
	.iportfolio:hover .portfolio-desc {
		bottom: 0 !important;
	}
}

.bothsidebar {
	.portfolio-notitle {
		.portfolio-item {
			&:hover {
				.portfolio-image {
					img {
						-webkit-transform: translateY(0);
						-moz-transform: translateY(0);
						-ms-transform: translateY(0);
						-o-transform: translateY(0);
						transform: translateY(0);
					}
				}
			}
		}
	}
}

body {
	&:not(.device-touch):not(.device-xs):not(.device-xxs) {
		.portfolio-notitle .portfolio-item:hover .portfolio-image img,
		.bothsidebar .portfolio-3.portfolio-notitle .portfolio-item:hover .portfolio-image img,
		.bothsidebar .portfolio-2.portfolio-notitle .portfolio-item:hover .portfolio-image img,
		.portfolio-notitle .iportfolio:hover .portfolio-image img {
			-webkit-transform: translateY(-20px);
			-moz-transform: translateY(-20px);
			-ms-transform: translateY(-20px);
			-o-transform: translateY(-20px);
			transform: translateY(-20px);
		}
	}
	&.device-touch {
		&.device-xs .portfolio-notitle .portfolio-desc,
		&.device-xxs .portfolio-notitle .portfolio-desc {
			display: none !important;
		}
	}
}

/* Portfolio - No Margin
-----------------------------------------------------------------*/

.portfolio {
	&.portfolio-nomargin,
	&.portfolio-full {
		margin: 0 !important;
	}
}

.portfolio-nomargin .portfolio-item,
.portfolio-full .portfolio-item { padding: 0 !important; }

.portfolio-nomargin .portfolio-desc { padding: 15px 10px 15px; }


/* Portfolio - 100% Full Width
-----------------------------------------------------------------*/

.portfolio {
	&.portfolio-full {
		width: 100.4%;
	}
}

.portfolio-full {
	.portfolio-item {
		overflow: hidden !important;
	}
	.portfolio-desc {
		padding: 15px;
	}
}


/* Portfolio - Sidebar
-----------------------------------------------------------------*/

.postcontent {
	.portfolio-desc {
		h3 {
			font-size: 17px;
		}
		span {
			font-size: 12px;
		}
	}
}

/* Portfolio - Sidebar - No Title
-----------------------------------------------------------------*/

.postcontent {
	.portfolio-notitle {
		.portfolio-desc {
			height: 70px;
			bottom: -71px;
		}
		.portfolio-item {
			&:hover {
				.portfolio-overlay {
					a {
						margin-top: -50px !important;
					}
				}
			}
		}
	}

	.portfolio-full.portfolio-notitle .portfolio-desc,
	.portfolio-nomargin.portfolio-notitle .portfolio-desc {
		bottom: -70px;
	}
}

.portfolio-item {
			&:hover {
				.portfolio-overlay {
					a {
						margin-top: -50px !important;
					}
				}
			}
		}

/* Portfolio - Overlay
-----------------------------------------------------------------*/

.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
    &:hover a{
	
            opacity: 1;
		}
	a {
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #F5F5F5;
		width: 40px !important;
		height: 40px !important;
		font-size: 18px;
		line-height: 40px;
		text-align: center;
		color: #444;
		.border-radius(50%);
		-webkit-backface-visibility: hidden;
        display: block;
        margin: -20px 0 0 -20px;
        opacity: 0;
        
		
		&:hover {
			color: @theme-color;
			background-color: #EEE;
            opacity: 1;
		}
		i {
			&.icon-line-play {
				position: relative;
				left: 2px;
			}
		}
	}
	.portfolio-desc {
		position: relative;
		padding: 0 !important;
		margin: 0;
		text-align: center;
		a {
			display: inline;
			position: relative;
			top: 0;
			left: 0;
			margin: 0;
			font-size: inherit;
			width: auto !important;
			height: auto !important;
			line-height: 1;
			background-color: transparent !important;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
			&:hover {
				background: transparent;
			}
		}
		h3 {
			font-weight: 600;
			color: #F5F5F5 !important;
			line-height: 1;
            padding-bottom: 10px;
			a {
				color: #F5F5F5 !important;
			}
		}
		span {
			margin-top: 7px;
			color: #DDD !important;
			a {
				color: #DDD !important;
				font-size: inherit;
			}
		}
		& ~ a {
			display: inline-block;
			position: relative;
			top: 0;
			left: 0;
			margin: 20px 0 0 !important;
			&.right-icon {
				left: 0;
				right: 0;
				margin-left: 5px !important;
				margin-right: 0 !important;
			}
		}
	}
}
body {
	&:not(.device-touch):not(.device-xs):not(.device-xxs) {
		.portfolio-overlay {
			-webkit-transition: opacity .4s ease-in-out;
			-o-transition: opacity .4s ease-in-out;
			transition: opacity .4s ease-in-out;
			a {
				-webkit-transition: color .2s linear, background-color .2s linear, margin-top .2s linear, opacity .2s linear;
				-o-transition: color .2s linear, background-color .2s linear, margin-top .2s linear, opacity .2s linear;
				transition: color .2s linear, background-color .2s linear, margin-top .2s linear, opacity .2s linear;
			}
			.portfolio-desc {
				& ~ a {
					-webkit-transition: color .2s linear, background-color .2s linear, opacity .2s linear;
					-o-transition: color .2s linear, background-color .2s linear, opacity .2s linear;
					transition: color .2s linear, background-color .2s linear, opacity .2s linear;
				}
			}
		}
	}
}
.portfolio-item:hover .portfolio-overlay,
.iportfolio:hover .portfolio-overlay {
	opacity: 1;
}

.portfolio-item:hover a.center-icon,
.iportfolio:hover a.center-icon {
	opacity: 1;
}

.portfolio-item:hover .portfolio-overlay a.left-icon,
.portfolio-item:hover .portfolio-overlay a.right-icon,
.iportfolio:hover .portfolio-overlay a.left-icon,
.iportfolio:hover .portfolio-overlay a.right-icon {
	margin-top: -18px;
}

body {
	&.device-touch {
		&.device-xs,
		&.device-xxs {
			.portfolio-notitle {
				.portfolio-overlay {
					display: none !important;
				}
			}
		}
	}
}

/* Portfolio Single
-----------------------------------------------------------------*/

.portfolio-single {}


/* Portfolio Single - Image
-----------------------------------------------------------------*/

.portfolio-single-image > a,
.portfolio-single-image .slide a,
.portfolio-single-image img,
.portfolio-single-image iframe,
.portfolio-single-image video {
	display: block;
	width: 100%;
}

.portfolio-single-image-full {
	position: relative;
	height: 600px;
	overflow: hidden;
	margin: -80px 0 80px !important;
}

.portfolio-single-video { height: auto !important; }


/* Portfolio Single - Gallery Thumbs
-----------------------------------------------------------------*/

.portfolio-single-image-full {
	.swiper-container {
		width: 100%;
		height: 600px;
		background-color: #333;
	}
	.swiper-slide {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}

	.swiper-nested-1,
	.swiper-nested-2 {
		width: 100%;
	}
}

/* Portfolio & Blog Single - Masonry
-----------------------------------------------------------------*/

.masonry-thumbs {
	position: relative;
	a {
		position: relative;
		float: left;
		width: 25%;
		overflow: hidden;
	}
	&.col-2 {
		a {
			width: 50%;
		}
	}
	&.col-3 {
		a {
			width: 33.30%;
		}
	}
	&.col-4 {
		a {
			width: 25%;
		}
	}
	&.col-5 {
		a {
			width: 20%;
		}
	}
	&.col-6 {
		a {
			width: 16.60%;
		}
	}
	img {
		width: 100%;
		.border-radius(0) !important;
		padding: 0 1px 1px 0;
	}
	.overlay {
		padding: 0 1px 1px 0;
	}
	a,
	img {
		display: block;
		height: auto !important;
	}
}

/* Portfolio Single - Content
-----------------------------------------------------------------*/

.portfolio-single-content {
	font-size: 14px;
	h2 {
		margin: 0 0 20px;
		padding: 0;
		font-size: 20px;
		font-weight: 600 !important;
	}
}

.portfolio-ajax-modal {
	width: 1000px !important;
}

.modal-padding {
	padding: 40px;
}

.ajax-modal-title {
	background-color: #F9F9F9;
	border-bottom: 1px solid #EEE;
	padding: 25px 40px;
	h2 {
		font-size: 26px;
		margin-bottom: 0;
	}
}

#portfolio-ajax-wrap {
	position: relative;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .4s ease;
	-o-transition: max-height .4s ease;
	transition: max-height .4s ease;
	&.portfolio-ajax-opened {
		max-height: 1200px;
	}
}

#portfolio-ajax-container {
	display: none;
	padding-bottom: 60px;
}

#portfolio-ajax-single {
	h2 {
		font-size: 26px;
	}
}

/* Portfolio Single - Meta
-----------------------------------------------------------------*/

.portfolio-meta,
.portfolio-share {
	list-style: none;
	font-size: 14px;
}

.portfolio-meta {
	li {
		margin: 10px 0;
		color: #666;
		&:first-child {
			margin-top: 0;
		}
		span {
			display: inline-block;
			width: 150px;
			font-weight: bold;
			color: #333;
			i {
				position: relative;
				top: 1px;
				width: 14px;
				text-align: center;
				margin-right: 7px;
			}
		}
	}
}

.well {
	.line {
		margin: 20px 0;
		border-color: #E5E5E5;
	}
}

/* Portfolio Single Navigation
-----------------------------------------------------------------*/

#portfolio-navigation {
	position: absolute;
	top: 50%;
	left: auto;
	right: 10px;
	max-width: 96px;
	height: 24px;
	margin-top: -12px;
	a {
		display: block;
		float: left;
		margin-left: 12px;
		width: 24px;
		height: 24px;
		text-align: center;
		color: #444;
		transition: color .3s linear;
		-webkit-transition: color .3s linear;
		-o-transition: color .3s linear;
		i {
			position: relative;
			top: -1px;
			font-size: 24px;
			line-height: 1;
            cursor: pointer;
			&.icon-angle-right {
				left: -1px;
			}
		}
		&:first-child {
			margin-left: 0;
		}
		&:hover {
			color: @theme-color;
		}
	}
}
.page-title-right {
	#portfolio-navigation {
		left: 10px;
		right: auto;
	}
}
.page-title-center {
	#portfolio-navigation {
		position: relative;
		top: 0;
		left: 0;
		margin: 20px auto 0;
	}
}
.page-title-dark {
	#portfolio-navigation {
		a {
			color: #EEE;
		}
	}
}
.page-title-parallax {
	#portfolio-navigation {
		a {
			color: #FFF;
		}
	}
}
#portfolio-navigation {
	a {
		i {
			&.icon-angle-left,
			&.icon-angle-right {
				font-size: 32px;
				top: -6px;
			}
		}
	}
}

#portfolio-ajax-show {
	#portfolio-navigation {
		top: 0;
		margin-top: 0;
	}
}

/* Individual Portfolio Item
-----------------------------------------------------------------*/

.iportfolio {
	position: relative;
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
	.portfolio-image {
		position: relative;
		overflow: hidden;
	}
	.portfolio-image,
	.portfolio-image a,
	.portfolio-image img {
		display: block;
		width: 100%;
		height: auto;
	}
	.portfolio-overlay { height: 100% !important; }
}
.portfolio-image a,
	.portfolio-image img {
		display: block;
		width: 100%;
		height: auto;
	}
/* Gallery Filter */
.gallery-filter{
    padding: 15px 0;
    span{
         margin-left: 10px;
        
        &:first-child{
            margin-left:0;
        }
    }
    a{
        text-transform: uppercase;
       
        &:before{
            font-family: 'font-icons';
            content: "\e904";
            height: 20px;
            width: 20px;
            font-size: 12px;
        }
    }
}
