// main: style.less
/*-----------------------------------------------------------------------------------

	typography.less

-----------------------------------------------------------------------------------*/


dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

::selection {
	background: @body-color;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: @body-color; /* Firefox */
	color: #FFF;
	text-shadow: none;
}

::-webkit-selection {
	background: @body-color; /* Safari */
	color: #FFF;
	text-shadow: none;
}

:active,
:focus { outline: none !important; }


/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/


body {
	line-height: @line-height-base;
	color: @middle-grey;
	font-size: @font-size-base;
	font-family: @body-font;
}

a {
	text-decoration: none !important;
	color: @theme-color;

	&:hover {
		color: #222;
	}

	img {
		border: none;
	}
}

img { max-width: 100%; }

iframe { border: none !important; }


/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/


h1,
h2,
h3,
h4,
h5,
h6 {
	color: @middle-grey;
	font-weight: 600;
	line-height: @line-height-base;
	font-family: @heading-font;
}

h5,
h6 { margin-bottom: 20px; }

h1 { font-size: @font-size-h1; margin-bottom: @margin-middle; text-transform: uppercase;}

h2 { font-size: @font-size-h2; text-transform: uppercase;}

h3 { font-size: @font-size-h3; }

h4 { font-size: @font-size-h4; }

h5 { font-size: @font-size-h5; }

h6 { font-size: @font-size-h6; }

h4 { font-weight: 400; 
    &.subheading{
        color:@middle-grey2;
    }
}
.meta.highlight{
    background: none;
    color: @theme-color;
    font-size: 18px;
    
    i{
        font-size: 30px;
        right: 0;
    top: 0;
    }
}
#page-title {
    position: relative;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
    padding: 30px 0;
}
.big-blue{
    color: #3b5998;
    i{
        font-size: 45px;
        position: absolute;
    }
}
.white-font{
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a{
        color: white;
    }
    
}
.red-highlight{
    color:@theme-color !important;
}

h5,
h6 { font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6 {
	> span:not(.nocolor) {
		color: @body-color;
	}
}
#contact-form-overlay{
    h3{
        padding: 0 0 20px;
        margin:0;
    }
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form { margin-bottom: 30px; }

small { font-family: @body-font; }

.red-highlight{ color: @theme-color;}

#wrapper {
	position: relative;
	float: none;
	width: 1220px;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.line{
    border-bottom: 2px solid @white;
    content: "";
    position: absolute;
    margin-top: -10px;
    left: 50%;
    width: 50px;
    height: 2px;
    margin-left: -25px;
}
.heading-block{
    span{
        font-family: Lato;
        font-size: 22px;
    }
    
}